@model IEnumerable<TravelAgencyBackend.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">新增(測試)</a> 
</p>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirlineCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirlineName)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.DepartureAirportCode) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.DepartureAirportName)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.ArrivalAirportCode) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.ArrivalAirportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AircraftType)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.FlightUid) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.SyncedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirlineCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirlineName)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.DepartureAirportCode) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.DepartureAirportName)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.ArrivalAirportCode) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AircraftType)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.FlightUid) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.SyncedAt)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.FlightId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
