@model IEnumerable<TravelAgencyBackend.ViewModels.Employee.EmployeeListViewModel>

@{
    ViewData["Title"] = "員工列表";
}

<h1 class="mb-4">員工基本資料</h1>

<div class="d-flex justify-content-between align-items-center mb-3">
    <a asp-action="Create" class="btn btn-outline-success btn-lg fs-6">＋ 建立新員工</a>

    <div class="d-flex justify-content-end mb-3">
        <form asp-action="List" method="get" style="width: 350px;">
            <div class="input-group">
                <input type="text" name="txtKeyword"
                       class="form-control"
                       placeholder="輸入姓名、電話或信箱進行搜尋"
                       value="@ViewBag.Keyword"
                       autocomplete="off" />

                <button type="submit" class="btn btn-outline-primary">搜尋</button>
            </div>
        </form>
    </div>


</div>

<table class="table table-striped table-hover table-bordered text-center">
    <thead class="table-dark">
        <tr>
            <th>序</th>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>職位</th>
            <th>@Html.DisplayNameFor(model => model.First().Phone)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().HireDate)</th>
            <th>@Html.DisplayNameFor(model => model.First().Status)</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.Name</td>
                    <td>@item.RoleName</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@item.HireDate.ToString("yyyy/MM/dd")</td>
                    <td>@item.StatusDisplay</td>
                    <td class="text-nowrap">
                        @Html.ActionLink("詳細", "Details", "Employee", new { id = item.EmployeeId }, new { @class = "btn btn-outline-primary btn-sm me-1" })
                        @Html.ActionLink("修改", "Edit", "Employee", new { id = item.EmployeeId }, new { @class = "btn btn-outline-info btn-sm me-1" })
                        @Html.ActionLink("刪除", "Delete", "Employee", new { id = item.EmployeeId }, new { @class = "btn btn-outline-danger btn-sm", onclick = "return confirm('確定要進行刪除作業嗎?')" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
