@model IEnumerable<TravelAgencyBackend.Models.ChatRoom>

@{
    ViewData["Title"] = "Index";
}

<h1>聊天室</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                會員姓名
            </th>
            <th>
                建立時間
            </th>
            <th>
                狀態
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Name)

                    @{
                        var unreadCount = item.Messages
                                .Count(m => m.SenderType == SenderType.Member && !m.IsRead);
                    }

                    @if (unreadCount > 0)
                    {
                        <span class="badge bg-danger ms-2">未讀 @unreadCount</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt.ToString("yyyy-MM-dd HH:mm"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ChatRoomId" class="btn btn-sm btn-primary">查看訊息</a>
            </td>
        </tr>
}
    </tbody>
</table>
