@model IEnumerable<TravelAgencyBackend.Models.TravelSupplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                供應商名稱
            </th>
            <th>
                類型
            </th>
            <th>
                聯絡人姓名
            </th>
            <th>
                電話
            </th>
            <th>
                電子郵件
            </th>
            <th>
                備註
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TravelSupplierId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TravelSupplierId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TravelSupplierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
